body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.header-title {
    font-size: 2.5em;
    margin: 10px 0;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of boxes */
    justify-content: space-between; /* Distribute boxes evenly */
    width: 90%;
    max-width: 1000px; /* Increased max-width for larger screen */
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.box-container {
    flex: 1 1 calc(30% - 20px); /* Set each box to take up 30% of the container width, minus margins */
    margin: 10px; /* Equal margin for spacing */
    text-align: center;
    text-decoration: none; /* Remove underline from the links */
}

.box {
    background-color: #a42bff;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: inline-block; /* Ensure the box dimensions are respected */
    transition: background-color 0.3s;
}

.box:hover {
    background-color: #cf80ff;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2c3e50;
    color: white;
}
